body {
  background-color: #1f1f1f;
}

.web-dev-tulane {
  height: 314px;
  position: absolute;
  background: rgba(74, 234, 160, 0.63);
  width: 386px;
  top: 5px;
  z-index: -1;
  left: 88px;
  border-radius: 3px;
}

.data-ops-tulane {
  height: 98px;
  position: absolute;
  background: rgba(74, 182, 234, 0.63);
  width: 425px;
  top: 319px;
  z-index: -1;
  left: 88px;
  border-radius: 3px;
}
.ba-cinema {
  height: 235px;
  position: absolute;
  background: rgba(74, 182, 234, 0.63);
  width: 390px;
  top: 478px;
  z-index: -1;
  left: 88px;
  border-radius: 3px; 
}         
.shelve {
  height: 136px;
  position: absolute;
  background: rgba(74, 182, 234, 0.63);
  width: 284px;
  top: 478px;
  z-index: -1;
  left: 88px;
  border-radius: 3px;
}
.as-screen {
  height: 384px;
  position: absolute;
  background: rgba(74, 182, 234, 0.63);
  width: 425px;
  top: 771px;
  z-index: -1;
  left: 88px;
  border-radius: 3px;

}

.panel-ifp {
  height: 109px;
  position: absolute;
  background: rgba(74, 182, 234, 0.63);
  width: 357px;
  top: 810px;
  z-index: -1;
  left: 88px;
  border-radius: 3px;;
}

.office-ifp {
  height: 150px;
  position: absolute;
  background: rgba(74, 182, 234, 0.63);
  width: 217px;
  top: 810px;
  z-index: -1;
  left: 88px;
  border-radius: 3px;
}

.video-clerk {
  height: 176px;
  position: absolute;
  background: rgba(74, 182, 234, 0.63);
  width: 237px;
  top: 879px;
  z-index: -1;
  left: 88px;
  border-radius: 3px;

}

.work-link {
  color: #fff;
}
.work-link:hover{
 color:  rgba(0, 30, 84, .296875);
}

.video-container {
  margin:  25vh 0;
}

.btn {
  margin: 20px;
  background-color: #f83e4b;
  border-color: rgba(187, 73, 73, 0.23);
}
.btn:hover{
  color: #fff;
  background-color: #8c232a; 
  border-color: #8c232a;
}
.btn:visited{
  background-color: #8c232a; 
  border-color: #8c232a;
}