	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>hi, I'm Chris</title>
		<meta name="description" content="I'm a fullstack developer, game modder and affiliate on Twitch" />
		<meta name="keywords" content="animation, piece, fragment, box, css, javascript, demo, effect, web dev" />
		<meta name="author" content="Chris" />
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/app.css" />
		<script>document.documentElement.className = 'js';</script>
	</head>
