<footer class="page-footer">
    <div class="media-tray">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l6 s12">
          <video id="my_video_1" class="video-js vjs-default-skin" width="640px" height="267px"
              controls preload="auto" poster='MY_VIDEO_POSTER.jpg'
              data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
            <source src="http://player.h-cdn.org/static/mp4/tears_of_steel_360p_MP4.mp4" type='video/mp4' />
          </video>
        </div>
      </div>
    </div>
</footer>
<div class="footer-copyright">
  <div class="footer-container">
  Made by <a class="orange-text text-lighten-3" id="me">Me</a>
  </div>
</div>